.admin-dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8;
  font-family: 'Poppins', sans-serif;
  margin-top: 65px;
  
}

.sidebar {
  width: 240px;
  background-color: #1d0847;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
}

.menu li {
  padding: 12px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 8px;
  transition: background 0.3s;
}

.menu li:hover {
  background-color: #3b218a;
}

.menu li.active {
  background-color: #ffffff;
  color: #1d0847;
  font-weight: 600;
}

.main-content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}

.loading {
  text-align: center;
  padding: 50px;
  color: #333;
}
